version: '3.9'
services:
  frontend:
    build: ./frontend
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - backend
    restart: always
    networks:
      - app-network

  backend:
    build: ./backend
    ports:
      - "5000:5000"
    restart: always
    networks:
      - app-network

networks:
  app-network:
    driver: bridge
