/* components/WorkDetail.css */
.work-detail {
    margin: 50px 0 0 50px;
    width: calc(100% - 50px);
}


.work-detail-content {
    padding: 8px 8px 0 8px;
    display: flex;
    gap: 8px;
    flex-direction: column;
    align-items: start;
}

.work-detail-image {
    width: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

.work-detail-image img {
    width: 100%;
    /* max-width: 600px; */
    height: auto;
}

.work-detail-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.work-detail-info h1 {
    font-size: clamp(48px, 8vw, 84px);
    margin: 0;
}

.work-meta {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 16px;
    font-weight: 400;
}

.work-category,
.work-date {
    /* border-radius: 20px; */
}

.work-description {
    max-width: 800px;
    text-align: start;
    white-space: pre-line;
    margin-bottom: 1rem;
}

.work-detail-loading,
.work-detail-error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    font-size: 1.2rem;
    color: #666;
}

.work-detail-error {
    color: #d32f2f;
}

@media (min-width:1200px) {
    .work-detail-image {
        width: 100%;
        display: grid;
        gap: 8px;
        grid-template-columns: repeat(2, minmax(500px, 800px));
    }
}

/* 响应式设计 */
@media (max-width: 768px) {
    .work-detail {
        margin: 50px 0 0 0;
        width: 100%;
    }

    .work-detail-image {
        grid-template-columns: 1fr;
    }

}