.about {
    width: calc(100% - 50px);
    flex: 1;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.about-container {
    flex: 1;
    padding: 58px 8px 0 8px;
}

.about-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.about-info h1 {
    font-size: clamp(36px, 8vw, 84px);
    margin: 0;
}
.about-m{
    font-size: clamp(16px, 4vw, 42px);
    white-space: pre-line;
}

.about-meta {
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    white-space: pre-line;
    text-align: start;
}

@media (max-width:768px) {
    .about {
        margin-left: 0;
    }
}