/* Sidebar.css */
.sidebar {
    position: fixed;
    left: 0;
    width: 360px;
    height: 100vh;
    background-color: #000;
    color: white;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    border-right: 2px solid #ffffff;
    overflow: hidden;
    z-index: 1000;
}

.sidebar.collapsed {
    width: 50px;
}

.topbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #000;
    z-index: 999;
    padding: 0 70px;
    border-bottom: 2px solid #ffffff;
}

.custom-link{
    color: white;
    text-decoration: none;
}

.sidebar-header {
    height: 50px;
    display: flex;
    justify-content: right;
    border-bottom: 2px solid #ffffff;
}

.toggle-btn {
    background: none;
    border: none;
    color: white;
    /* font-size: 18px; */
    cursor: pointer;
    margin-right: 5px;
    padding: 5px;
    transition: background-color 0.2s;
}

.sidebar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 20px;
}

.sidebar-nav.collapsed {
    padding-top: 0px;
}

.sidebar-title {
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 36px;
    /* padding: 5px; */
    padding-left: 20px;
    transition: background-color 0.2s;
}



/* 响应式设计 */
@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        z-index: 1000;
        border: none;
        /* background: #000; */
    }

    .sidebar.collapsed {
        height: 52px;
    }

    .sidebar-header {
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 2px solid #ffffff;
    }
}