#root {
  /* max-width: 1280px; */
  margin: 0;
  /* padding: 2rem; */
  text-align: center;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  width: 100%;
}

.container {
  position: relative;
  overflow-x: clip;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cursor-container {
  position: fixed;
  pointer-events: none;
  background-color: transparent;
  overflow: hidden;
}

.cursor-container.pinned {
  position: fixed;
  pointer-events: none;
  overflow: hidden;
  transition: width 0.3s ease, height 0.3s ease;
}

@media (max-width: 768px) {
  .cursor-container {
    display: none;
  }

}