:root {
  font-family: 'Afacad', 'MiSans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 550;
  font-size: 24px;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  min-width: 320px;
  min-height: 100vh;
}

@font-face {
  font-family: 'MiSans';
  src: url('/fonts/MiSans-VF.ttf') format('truetype');
  font-weight: 100 700;
  font-style: normal;
}
